<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>DuxCms安装向导</title>
<link href="__PUBLIC__/install/css/base.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/install/css/style.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/install/js/install.js"></script>
<!-- haifangchina.com Baidu tongji analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "//hm.baidu.com/hm.js?00ba6e94b8726e8fdffd9e80b356c055";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
<div class="g-install">
  <div class="m-head">
    <h1>DuxCms安装进行中</h1>
  </div>
  <div class="m-body">
  	<div class="m-log">
    	
    </div>
  </div>
  <div class="m-foot"> 
  	<a href="javascript:;">安装中...</a>
  </div>
</div>
</body>
</html>